@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin: 10px 0 5px 10px;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 10px 0 5px 0;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10px 10px 5px 0;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip {
  background: @background;
  color: @foreground;
  padding: 2px;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@cyan, 0.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: @cyan;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @cyan;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#clock {
  padding: 0px 5px;
  color: @foreground;
  transition: all 0.3s ease;
}

#clock:hover {
  transition: all 0.3s ease;
  color: @cyan;
}

#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#bluetooth,
#network {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @foreground;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover {
  transition: all 0.3s ease;
  color: @cyan;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-wiremix {
  margin-right: 17px;
}

#custom-nordvpn {
  margin-right: 17px;
}

#custom-nordvpn.connected {
  color: @green;
}

#custom-nordvpn.disconnected {
  color: @foreground;
  opacity: 0.5;
}

#custom-expand-icon {
  margin-right: 18px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: @red;
}
