# ~/.zshrc.secrets.template (this can be committed)
# Copy this file to ~/.zshrc.secrets and fill in your actual values

# Used for Claude Code
export GITHUB_PERSONAL_ACCESS_TOKEN="your_token_here"               # https://github.com/settings/personal-access-tokens
export SHADCN_GITHUB_TOKEN="another_token_or_same_as_above"         # https://github.com/settings/tokens
export OBSIDIAN_API_KEY="token_from_local_rest_api_obsidian_plugin" # https://github.com/MarkusPfundstein/mcp-obsidian?tab=readme-ov-file#obsidian-rest-api-key
